
<ul class="contact-list">
  <li class="contact-item">
    <a class="contact-link" href="mailto:chris@chrisplease.me">
      <span class="contact-icon-container">
        <i class="fa-regular fa-envelope fa-lg fa-fw"/>
      </span>
      <span class="contact-link-text">
        chris@chrisplease.me
      </span>
    </a>
  </li>
  <li class="contact-item">
    <a class="contact-link" href="https://codepen.io/ChrisPlz">
      <span class="contact-icon-container">
        <i class="fa-brands fa-codepen fa-lg fa-fw" />
      </span>
      <span class="contact-link-text">
        ChrisPlz
      </span>
    </a>
  </li>
  <li class="contact-item">
    <a class="contact-link" href="https://github.com/ChrisPlease">
      <span class="contact-icon-container">
        <i class="fa-brands fa-github-alt fa-lg fa-fw" />
      </span>
      <span class="contact-link-text">
        ChrisPlease
      </span>
    </a>
  </li>
  <li class="contact-item">
    <a class="contact-link" href="https://linkedin.com/in/ChrisPlease">
      <span class="contact-icon-container">
        <i class="fa-brands fa-linkedin-in fa-lg fa-fw" />
      </span>
      <span class="contact-link-text">
        ChrisPlease
      </span>
    </a>
  </li>
</ul>

<style is:inline>
  .contact-list {
    margin: 0;
    padding: 0;
  }

  .contact-item {
    display: flex;
    align-items: center;
    margin: 0.125rem 0;
    border-radius: 999px;
  }

  .contact-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(var(--link-color));
  }

  .contact-link-text {
    width: 0;
    display: block;
    overflow: hidden;
  }

  @media screen {
    .contact-list {
      display: flex;
      justify-content: start;
    }

    .contact-item {
      margin: 0 0.25rem;
    }

    .contact-icon-container {
      width: 2rem;
      height: 2rem;
      color: rgb(var(--bg-color));
      background: linear-gradient(
        35deg,
        rgb(var(--link-color)),
        rgb(var(--link-hover-color))
      );
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 9999px;
      box-shadow: 0 2px 2px rgba(var(--shadow-color), 0.25);
    }
  }

  @media print {
    .contact-icon-container {
      font-size: 1rem;
      margin-right: 0.5rem;
    }

    .contact-link::after{
      content: attr(href);
    }
  }

</style>
