---
import Icon from '../components/Icon.svelte';
import Layout from '../layouts/Layout.astro';
import Contact from '../components/resume/Contact.astro';
---

<Layout title="Welcome to Astro 1.">
	<main>
    <Icon name="hand-wave" size="3x" shake />
		<h1>Welcome!</h1>

    <Contact />
	</main>
</Layout>

<style>
  main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
</style>
