---
import Layout from '../layouts/Layout.astro';
import Contact from '../components/resume/Contact.astro';
---

<Layout title="Chris Pruyne | Software Engineer">
	<main>
    <i class="fa-shake fa-hand-wave fa-light fa-3x" />
		<h1>Welcome!</h1>
    <p>Check out my <a href="/resume">resume</a>.</p>
    <Contact />
	</main>
</Layout>

<style>
  main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
</style>
