---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const entries = await getCollection('resume');
---

<Layout title="resume">
  {entries.map(async (item) => {
    const { Content } = await item.render()
    return (
      <div>
        <Content />
      </div>
    )
  })}
</Layout>

