---
import Hamburger from './Hamburger.astro';
import ColorPicker from './ColorPicker.svelte';
import SiteNav from './SiteNav.astro';
import ThemeToggle from './ThemeToggle.svelte';
interface Props {}
---

<header class="site-header">
  <ColorPicker client:only="svelte" />
  <ThemeToggle client:only="svelte" />
  <div class="site-header--container">
    <SiteNav
      links={[
        {
          name: 'Home',
          route: '/',
          icon: 'home',
        },
        {
          name: 'Resume',
          route: '/resume',
          icon: 'file-user',
        },
      ]}
    />
  </div>
  <Hamburger class="site-header--hamburger" />
</header>

<script>
  const header = document.querySelector('.site-header');
  const container = document.querySelector('.site-header--container');
  const hamburger = document.querySelector('.site-header--hamburger');
  let lastPosition = 0;
  let timeoutId: number;

  document.addEventListener('scroll', (e) => {
    if (timeoutId) clearTimeout(timeoutId);

    if (lastPosition < window.scrollY && window.scrollY > 0) {
      header?.classList.add('is-collapsed');
    } else {
      header?.classList.remove('is-collapsed');
    }

    lastPosition = window.scrollY;
  });

  hamburger?.addEventListener('openmenu', (e: Event) => {
    const { detail: { isOpen } } = e as CustomEvent;
    if (!isOpen) {
      container?.classList.remove('is-open');
    } else {
      container?.classList.add('is-open');
    }
  })

  document.addEventListener('scrollend', () => {
    timeoutId = setTimeout(() => {
      header?.classList.remove('is-collapsed');
    }, 2000);
  })

</script>

<style>
  .site-header {
    display: flex;
    align-items: center;
    justify-content: end;
    position: fixed;
    right: 0;
    z-index: 100;
    transition: transform 250ms linear;
    width: 100%;
  }

  .site-header--container {
    position: absolute;
    top: 100%;
    display: flex;
    align-items: center;
    transition: all 200ms linear 200ms;
  }

  .site-header--container {
    opacity: 0;
    transform: translateY(-20px);
  }

  .site-header--container.is-open {
    opacity: 1;
    transform: translateY(0px);
  }

  .site-header.is-collapsed {
    transform: translateY(-100px);
  }

  @media print {
    .site-header {
      display: none;
    }
  }

</style>
