---
import type { IconName } from '@fortawesome/fontawesome-svg-core';

interface Link {
  name: string;
  icon?: IconName;
  route: string;
}

interface Props {
  links: Link[];
}

const props = Astro.props satisfies Props;
---

<nav class="site-nav">
  <ul class="site-nav--list">
    {
      props.links.map(
        ({ name, route, icon }: Link) => (
          <li class="site-nav--list-item">
            <a
              class:list={[
                'site-nav--link',
                { active: Astro.url.pathname === route }
              ]}
              href={route}
            >
              {icon ? (
                <i class={`icon fa-solid fa-${icon} fa-fw`} />
              ) : null}
              <span>{name}</span>
            </a>
          </li>
        )
      )
    }
  </ul>
</nav>

<style is:global>
  .site-nav {
    margin: 0.5rem;
  }

  .site-nav--list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .site-nav--list-item {
    border-radius: 9999px;
    overflow: hidden;
  }

  .site-nav--list-item:not(:last-child) {
    margin-right: 0.5rem;
  }

  .site-nav .site-nav--link,
  .site-nav .site-nav--link:visited {
    display: block;
    text-decoration: none;
    padding: 0.25rem 1rem;
    color: rgb(var(--text-color));
    background: rgba(var(--text-color), 0);
  }

  .site-nav .site-nav--link:hover,
  .site-nav .site-nav--link.active {
    color: rgb(var(--link-color));
    background: rgba(var(--text-color), 0.15);
  }

  .site-nav--link .icon {
    padding-right: 0.25rem;
  }
</style>
