---
import type { IconName } from '@fortawesome/fontawesome-svg-core';
import Icon from './Icon.svelte';

interface Link {
  name: string;
  icon?: IconName;
  route: string;
}

interface Props {
  links: Link[]
}

const { links } = Astro.props satisfies Props;
---

<nav class="site-nav">
  <ul>
    {
      links.map(
        ({ name, route, icon }: Link) => (
          <li class="nav-item">
            <a
              class:list={[
                { active: Astro.url.pathname === route }
              ]}
              href={route}
            >
              {icon ? <Icon name={icon} /> : null}
              <span class="sr-only">{name}</span>
            </a>
          </li>
        )
      )
    }
  </ul>
</nav>

<style>
  .site-nav {
    margin: 1rem;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .nav-item {
    border-radius: 9999px;
    overflow: hidden;
  }

  .nav-item:not(:last-child) {
    margin-right: 0.5rem;
  }

  .site-nav a {
    display: block;
    text-decoration: none;
    padding: 0.25rem 1rem;
    transition: background 200ms linear;
    color: rgb(var(--text-color));
  }

  .site-nav a:hover,
  .site-nav a.active {
    color: rgb(var(--text-color));
    background: rgba(var(--text-color), 0.15);
  }
</style>
