---
import type { IconName } from '@fortawesome/fontawesome-svg-core';
import Icon from './Icon.svelte';

interface Link {
  name: string;
  icon?: IconName;
  route: string;
}

interface Props {
  links: Link[]
}

const { links } = Astro.props satisfies Props;
---

<nav>
  <ul>
    {
      links.map(
        ({ name, route, icon }: Link) => (
          <li>
            <a
              class:list={[
                'nav-item',
                { active: Astro.url.pathname === route }
              ]}
              href={route}
            >
              { icon ? <Icon name={icon} /> : null}
              {name}
            </a>
          </li>
        )
      )
    }
  </ul>
</nav>

<style>
  ul {
    list-style-type: none;
    margin: 0 2rem 0 0;
    padding: 0;
    display: flex;
  }

  .nav-item {
    margin-right: 0.25rem;
    border-radius: 0.5rem;
  }

  a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    border-radius: 0.125rem;
    transition: background 200ms linear;
    color: rgb(var(--link-color));
  }

  a:hover,
  a.active {
    color: rgb(var(--text-color));
    background: rgba(var(--text-color), 0.15);
  }
</style>
